BasedOnStyle: LLVM

AlignTrailingComments: true

AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterControlStatement: Never
  BeforeElse: true
  IndentBraces: false

ColumnLimit: 80
IndentCaseLabels: true
