BasedOnStyle: LLVM

AlignTrailingComments: true

AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true

ColumnLimit: 80
